adf-wth-team2/PartialArmTemplates/ArmTemplate_3_16_2021_13_56_44.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-wth-team2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_Lookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_gettablelist]",
								"storedProcedureParameters": {
									"Name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Name",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLAzure",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "covid19_metrics"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@activity('Lookup').output.Name",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "SqlAzure",
									"activities": [
										{
											"name": "Execute SQLAzure Pipeline",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "Pipeline_Load_SqlAzure",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TableList": {
														"value": "@activity('Lookup').output.value",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "SqlVM",
									"activities": [
										{
											"name": "Execute SQLVM Pipeline",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "Pipeline_Load_SqlVM",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TableList": {
														"value": "@activity('Lookup').output.value",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "wth-team2"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}