pipeline/Pipeline_Lookup.json
{
	"name": "Pipeline_Lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[usp_gettablelist]",
						"storedProcedureParameters": {
							"Name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLAzure",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "covid19_metrics"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pipeline_Load_SqlAzure",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"TableList": {
							"value": "@activity('Lookup').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Name": {
				"type": "string"
			}
		},
		"folder": {
			"name": "wth-team2"
		},
		"annotations": []
	}
}