adf-wth-team2/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-wth-team2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_load_policydata_from_adls_to_Synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow_datalake_policies",
								"type": "DataFlowReference",
								"parameters": {
									"ContainerName": {
										"value": "'@{pipeline().parameters.ContainerName}'",
										"type": "Expression"
									},
									"FolderName": {
										"value": "'@{pipeline().parameters.FolderName}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"ADLSCosmosDB": {
										"Containername": {
											"value": "@pipeline().parameters.ContainerName",
											"type": "Expression"
										},
										"foldername": {
											"value": "@pipeline().parameters.FolderName",
											"type": "Expression"
										}
									},
									"AzureSynapse": {
										"SchemaName": {
											"value": "@pipeline().parameters.SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "LS_AzureDataLakeStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "raw/Polybase"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "None"
						}
					}
				],
				"parameters": {
					"ContainerName": {
						"type": "string",
						"defaultValue": "raw"
					},
					"FolderName": {
						"type": "string",
						"defaultValue": "CosmosDB_SingleFile"
					},
					"SchemaName": {
						"type": "string",
						"defaultValue": "Stage"
					},
					"TableName": {
						"type": "string",
						"defaultValue": "Policies"
					}
				},
				"folder": {
					"name": "wth-team2"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_Lookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[usp_gettablelist]",
								"storedProcedureParameters": {
									"Name": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Name",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQLAzure",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "covid19_metrics"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Switch1",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Lookup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@pipeline().parameters.Name",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "SqlAzure",
									"activities": [
										{
											"name": "Execute SQLAzure Pipeline",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "Pipeline_Load_SqlAzure",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TableList": {
														"value": "@activity('Lookup').output.value",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "SqlVM",
									"activities": [
										{
											"name": "Execute SQLVM Pipeline",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "Pipeline_Load_SqlVM",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TableList": {
														"value": "@activity('Lookup').output.value",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "CosmosDB",
									"activities": [
										{
											"name": "LoadCosmosDB",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pipeline_Load_Cosmos_copy1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"TableList": {
														"value": "@activity('Lookup').output.value",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "wth-team2"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}